<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://archive.org/download/ytm-6.37.1-t-2.0.1/YTM_6.37.1_T2.0.1.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://ipa.echxanh.xyz/img/icondowload.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://o.qoo-img.com/ggpht/caDiIvFl-VDvEPlzbHuypmXMTIwAiA8WesvsUIcFoQqokLaYRSYh-Y0LpR4RFhGgytEg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.google.ios.youtubemusic</string>
				<key>bundle-version</key>
				<string>6.37.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>Con Cặc</string>
				<key>title</key>
				<string>YouTubeMusic</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
